<table>
    <tbody>
    {% for subList in splitTotals %}
        <tr>{% for oneDayTotal in subList %}
            <th>{{ oneDayTotal.localDate }}</th>{% endfor %}
        </tr>
        <tr>{% for oneDayTotal in subList %}
            <td>{% if (oneDayTotal.amount >= 25) %}
                {{- "VOLZET" -}}
            {% else %}
                {{- oneDayTotal.amount }}/{{ maxAllowed -}}
            {% endif %}</td>
        {% endfor %}</tr>
    {% endfor %}
    </tbody>
</table>